body {
  margin: 0;
  padding: 0;
}

div.column {
  text-align: center;
}
form {
  text-align: center;
}

header {
  background-color: rgba(224, 175, 255, 0.838);
  margin: 0 auto;
  height: 50px;
  text-align: center;
  
}
li {
  padding: 3px
}
button {
  color: black;
  padding: 1px 20px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #24124d;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;   
}
.button:hover {
  background-color: #442d4d;
  color: white;
}

header h2 {
  padding: 10px;
  margin: 0;
}

#main-title {
  text-align: center;
  color: #27241c;
  font-size: 2.5em;
  text-shadow: 3px 2px #afa484;
}




li {
  font-size: 1.05em;
  list-style: none;
  padding-right: 20px;
}

.columnleft {
  float: left;
  width: 50%;
}

.columnright {
  float: right;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}