.splash {
    background: rgb(63,94,251);
    background: linear-gradient(45deg, rgb(38, 0, 255) 0%, rgb(2, 2, 2) 100%);
  }
  
  .navbar-brand {
    color: #fff;
  }
  
  .navbar-brand img {
    display: inline-block;
    margin: 0 10px;
    width: 50px;
  }
  
  .brand-text {
    font-family: 'helvetica', cursive;
    font-size: 2.5rem !important;
  }
  
  .form-label-text {
    font-family: 'helvetica', cursive;
    font-size: 1.5rem !important;
  }
  
  .header-text {
    font-family: 'helvetica', cursive;
    font-size: 3.5rem !important;
  }
  
  body {
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgb(255, 255, 255) 5%, rgb(0, 0, 0) 95%);
  }
  
  .gameboard {
    padding: 40px;
    margin: 20px;
    background: rgb(51, 36, 255);
    min-height: 80vh;
  }
  
  .object-fit-img {
    height: 10rem;
    object-fit: cover;
  }
  
  .flashcard-style {
    width: 10rem;
  }
  
  .flashcard-modal-img {
    height: 30rem;
    object-fit: cover;
  }
  
  html {
    min-height: 100%;
  }